/* Estilo para el contenedor de la vista Home */
.homeContainer {
  background-image: url('/public/doc11.jpeg'); /* Imagen de fondo */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

/* Estilo para el contenedor de la alerta */
.alertContainer {
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.alertContainer:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

/* Estilo para el título de la alerta */
.alertTitle {
  color: #007bff; /* Color del título */
  font-size: 2rem; /* Tamaño de fuente del título */
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

/* Estilo para el texto de la alerta */
.alertText {
  color: #555555; /* Color del texto */
  font-size: 1rem; /* Tamaño de fuente del texto */
  text-align: center;
}
