.login-container {
  background: url("/public/doc2.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-form {
  width: 80%;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.8s, box-shadow 0.3s;
  position: absolute;
  left: 10%;
  top: 10%;
}

